:root {
  --color-primary: #fb7299;
  --color-secondary: #ffe2e9;
  --color-border: #ebebeb;
  --color-border-hover: #d9d9d9;
  --color-link: #00aeec;

  /* text */
  --font-size-sm: 12px;
  --font-size-normal: 14px;
  --font-size-lg: 16px;
  --text-color-secondary: #999;
  --text-color-normal: #333;
  --text-color-black: #101010;
  --text-color-light: #d0d0d0;

  /* background */
  --bg-color-normal: #eee;
  --bg-color-black: #101010;
  --bg-color-white: #fff;
  --bg-color-gray: #f5f5f5;

  /* shadow */
  --shadow-color: rgba(162, 167, 175, 0.03);
  --shadow-color-hover: rgba(162, 167, 175, 0.15);
  --shadow-color-active: rgba(162, 167, 175, 0.3);
  --shadow-sm: 0 1px 2px 0 var(--shadow-color);
  --shadow-normal: 0 2px 4px 0 var(--shadow-color);
  --shadow-blur: 0px 10px 15px 0 var(--shadow-color-active);
  --shadow-hover: 0 4px 8px 0 var(--shadow-color-hover);

  /* radius */
  --radius-sm: 4px;
  --radius-normal: 8px;
  --radius-circle: 50%;

  /* spacing */
  --spacing-sm: 5px;
  --spacing-normal: 10px;
  --spacing-lg: 20px;
  --spacing-xg: 25px;

  /* z-index */
  --nav-z-index: 100;
  --tab-z-index: 100;
  --modal-z-index: 10000;

  /* size */
  --nav-height: 65px;
  --tab-height: 40px;
  --tab-bar-height: 60px;
  --side-width: 120px;
}
