@import './base.css';
@import './variables.css';
@import './animation.css';
@import 'font.css';

body {
  background-color: var(--bg-color-normal);
  font-family:
    LXGWWenKaiScreen,
    PingFang SC,
    HarmonyOS_Medium,
    Helvetica Neue,
    Microsoft YaHei,
    sans-serif;
  font-weight: 500;
  font-size: var(--font-size-normal);
}

a {
  color: var(--color-link);
}

.bg-white {
  background-color: var(--bg-color-white);
}

.btn {
  text-align: center;
  user-select: none;
  width: 60px;
  height: 35px;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--bg-color-white);
  border: 0;
  border-radius: var(--radius-normal);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}

.btn:hover {
  opacity: 0.8;
  animation: btn-hover 0.5s ease-in-out;
}

.text-btn {
  color: var(--color-primary);
  background-color: transparent;
}

.avatar {
  width: 40px;
  height: 40px;
  transition: 0.3s;
  border-radius: 50%;
  cursor: pointer;
}

.avatar:hover {
  transform: rotate(20deg);
}

.inline {
  display: flex;
  justify-content: left;
  align-items: center;
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    margin: 20px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, 0.3);
  }

  ::-webkit-scrollbar-track {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 1em;
    background-color: rgba(50, 50, 50, 0.06);
  }
}
